// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui-pro/dist/css/coreui.min.css";
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

/* Stronger rule to hide dot/caret above avatar in sidebar footer dropdown */
.CSidebarFooter .dropdown-toggle, .CSidebarFooter .dropdown-toggle::after, .CSidebarFooter .dropdown-toggle::before {
  background-image: none !important;
  box-shadow: none !important;
  content: none !important;
  display: inline-block;
}
